{% load extra %}
<table class="table table-responsive-md" onmouseup="getStats()">
  <tr class="_r883kj3t">
    <th colspan="3"></th>
    <th colspan="11">Passing</th>
    <th colspan="4">Rushing</th>
    <th colspan="7">Receiving</th>
    <th colspan="2" style="border-right: 1px solid #64b7e7;">Fumbles</th>
  </tr>
  <tr>
    <td>
      <table>
        <tr><th>H/A</th></tr>
        {% for ii in games %}
        <tr><td>{% if ii.game_location %} {{ ii.game_location }} {% else %} &nbsp; {% endif %}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th>Opp</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.opp }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th>&nbsp;</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.game_result|sgr }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Cmp</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_cmp }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Att</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_att }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Cmp%</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_cmp|div_pcnt:ii.pass_att }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Yds</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_yds }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">TD</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_td }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Int</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_int }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Rate</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_rating }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Sk</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_sacked }}</td></tr>
        {% endfor %}
      </table>
    </td>

    <td>
      <table>
        <tr><th class="num">Yds</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_sacked_yds }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Y/A</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_yds|div:ii.pass_att }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">AY/A</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii|aya }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Rush</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.rush_att }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Yds</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.rush_yds }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Y/A</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.rush_yds|div:ii.rush_att }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">TD</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.rush_td }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Tgt</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.targets }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Rec</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.rec }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Yds</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.rec_yds }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Y/R</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.rec_yds|div:ii.rec }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">TD</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.rec_td }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Ctch%</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.rec|div_pcnt:ii.targets }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Y/Tgt</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.rec_yds|div:ii.targets }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Fmb</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.fumbles }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">FL</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.fumbles_lost }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">FPTS</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.fpts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th>Date</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.date|date:'m/d/Y' }}</td></tr>
        {% endfor %}
      </table>
    </td>
  </tr>
</table>
