{% load extra %}
<table class="table table-responsive-md" onmouseup="getStats()">
  <tr>
    <td>
      <table>
        <tr><th>H/A</th></tr>
        {% for ii in games %}
        <tr><td>{% if ii.location %} {{ ii.location }} {% else %} &nbsp; {% endif %}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th>Opp</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.opp }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th>&nbsp;</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.game_result|sgr }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Cmp</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_cmp }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Att</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_att }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Cmp%</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pass_cmp_perc }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Yds</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.fg_pct|percent }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">TD</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.fg3 }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">3PA</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.fg3a }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Int</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.fg3_pct|percent }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Rate</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.ft }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Sk</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.fta }}</td></tr>
        {% endfor %}
      </table>
    </td>

    <td>
      <table>
        <tr><th class="num">Yds</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.ft_pct|percent }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Y/A</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.trb }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">AY/A</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.ast }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Rush</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.stl }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Yds</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.blk }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Y/A</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.tov }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">TD</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pf }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Tgt</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Rec</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Yds</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Y/R</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">TD</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Ctch%</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Y/Tgt</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">TD</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Fmb</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">FF</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">FR</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">Yds</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">TD</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.pts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th class="num">FPTS</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.fpts }}</td></tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <table>
        <tr><th>Date</th></tr>
        {% for ii in games %}
        <tr><td>{{ ii.date|date:'m/d/Y' }}</td></tr>
        {% endfor %}
      </table>
    </td>
  </tr>
</table>
