{% load extra %}
<table class="table table-hover table-responsive-md">
<thead>
  <tr>
    <th colspan="4">Player</th>
    <th title="Player’s Team" class="sort-col" data-order="team" data-bidirection="true">&nbsp;TM</th>
    <th title="Player is Home or Away" class="sort-col" data-order="loc" data-bidirection="true">H/A</th>
    <th title="Team that the player is competing against">&nbsp;&nbsp;VS</th>
    <th title="Fantasy Salary selected from Salary Drop down menu" class="sort-col" data-order="salary" data-bidirection="true">Salary</th><th>&nbsp;</th>
    <th title="Overall Average Fantasy Points" class="sort-col" data-order="afp" data-bidirection="true">AFP</th>
    <th title="Player’s value determined from Salary Drop down menu (Salary / 1,000 X 4 + 10 = VAL)">VAL</th>
    <th title="Opponent's Points Scored Per Game" class="sort-col" data-order="ps" data-bidirection="true">PS/G</th>
    <th title="Points Allowed Per Game by DEF">PA/G</th>
    <th title="Highlight # in Green when positive for DEFENSE Highlight # in RED when positive for OFFENSE.">PDIFF</th>
    <th title="Total Yards Offense Gains Per Game">TYA/G</th>
    <th title="Total Yards Defense Allows Per Game">TYDA/G</th>
    <th title="Highlight # in Green when positive for DEFENSE Highlight # in RED when positive for OFFENSE.">TDIFF</th>
    <th title="Total Yards DEF allowed in  Most Recent Game (Last Game Team Played)">LSTGM</th>
    <th title="Total Yards allowed in Home Games (Total)">HGMs</th>
    <th title="Total Yards allowed in Away Games (Total)">AGMs</th>
    <th></th>
  </tr>
</thead>
  <tbody>
    {% for ii in players %}
      <tr>
        <td colspan="4"><a href="/players/{{ ii.id }}" style="font-size: 14px;"><img src="/static/img/team/{{ ii.name.strip }}.png" height="24" class="mr-2">{{ ii.name }}</a></td>
        <td>{{ ii.team }}</td>
        <td>{{ ii.loc }}</td>
        <td>{{ ii.vs }}</td>
        <td colspan="2">$ {{ ii.salary|floatformat:0 }}</td>
        <td>{{ ii.afp|floatformat:1 }}</td>
        <td>{{ ii.val|floatformat:1 }}</td>
        <td>{{ ii.ps|floatformat:1 }}</td>
        <td>{{ ii.pa|floatformat:1 }}</td>
        <td class="{{ ii|pdiff_pt_color }}">
          {{ ii|pdiff_pt }}
        </td>
        <td>{{ ii.tya|floatformat:1 }}</td>
        <td>{{ ii.tyda|floatformat:1 }}</td>
        <td class="{{ ii|pdiff_color }}">
          {{ ii|pdiff }}
        </td>
        <td>{{ ii.l_tya|floatformat:1 }}</td>
        <td>{{ ii.h_tyda|floatformat:1 }}</td>
        <td>{{ ii.a_tyda|floatformat:1 }}</td>
        <td><i class="far fa-thumbs-up fav {{ ii.uid|liked:request.session }}" data-uid="{{ ii.uid }}"></i></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
