{% load humanize %}

<div class="jumbotron p-4" style="margin-top: 36px;margin-bottom: 15px;">
  <span>Selected Players: </span><span class="font-weight-bold"> {{ players.count }}</span><br>
  <span>Lineup Projection Average: </span><span class="font-weight-bold"> {{ avg_points|floatformat:2 }}</span>
</div>
<div class="pb-2" style="border: 1px solid #eee; border-radius: 4px;">
  <div class="lineups p-2">
    <table class="table table-hover table-responsive-md">
      <thead>
        <tr>
          <th>Name</th>
          <th>Team</th>
          <th>Lineups</th>
        </tr>
      </thead>
      <tbody>
        {% for ii in players_ %}
          <tr>
            <td>
              <a href="/players/{{ ii.id }}">
                {% if ii.position == 'DEF' %}
                  <img src="/static/img/team/{{ ii.first_name.strip }}.png" height="24" class="mr-2">
                {% else %}
                  {% if ii.eid != -1 %}
                    <img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{ ii.eid }}.png" height="26" class="avatar-sm">
                  {% else %}
                    <img src="/static/img/default.ico" height="26" class="mr-2">
                  {% endif %}
                {% endif %}
                {{ ii.name }}
              </a>
            </td>
            <td>{{ ii.team }}</td>
            <td>{{ ii.lineups }}</td>
          </tr>
        {% endfor %}
      </tbody>  
    </table>
  </div>
</div>
