{% load extra %}
<table class="table table-hover table-responsive-md">
<thead>
  <tr>
    <th colspan="3">Player</th>
    <th title="Player’s Team">&nbsp;TM</th>
    <th title="Player is Home or Away">H/A</th>
    <th title="Team that the player is competing against">&nbsp;&nbsp;VS</th>
    <th title="Fantasy Salary selected from Salary Drop down menu">Salary</th>
    <th title="Overall Average Fantasy Points">AFP</th>
    <th title="Player’s value determined from Salary Drop down menu (Salary / 1,000 X 4 + 10 = VAL)">VAL</th>
    <th title="Player Positional Rank. The rank of that player at his position based upon that player’s Situation Fantasy Points.">PPR</th>
    <th title="Ranking of the opponent’s defensive FPTs yielded to that player’s position. Higher the #, the better the matchup.">OPR</th>
    <th title="Rushing Yards Player Averages Per Game (Overall)">RYOA/G</th>
    <th title="Rushing Yards Team Defense Allows Per Game (Overall)">RYDA/G</th>
    <th title="Rushing Yards Offense gained in  Most Recent Game (Last Game Team Played)">LSTGM</th>
    <th title="Rushing Yards Averaged in Home Games (Total)">HGMs</th>
    <th title="Rushing Yards Averaged in Away Games (Total)">AGMs</th>
    <th title="Injury status. Players that are out will not be listed on the Player Match-Up Board unless they were originally GTD then downgraded to OUT.">INJ</th>
    <th></th>
  </tr>
</thead>
  <tbody>
    {% for ii in players %}
      <tr>
        <td colspan="3"><a href="/players/{{ ii.id }}" style="font-size: 14px;"><img src="{{ ii.avatar }}" height="24" class="mr-2">{{ ii.name }}</a></td>
        <td>{{ ii.team }}</td>
        <td>{{ ii.loc }}</td>
        <td>{{ ii.vs }}</td>
        <td>$ {{ ii.salary|floatformat:0 }}</td>
        <td>{{ ii.afp|floatformat:1 }}</td>
        <td>{{ ii.val|floatformat:1 }}</td>
        <td>{{ ii.ppr }}</td>
        <td>{{ ii.opr }}</td>
        <td>{{ ii.yoa|floatformat:1 }}</td>
        <td>{{ ii.team_stat.ruyda|floatformat:1 }}</td>
        <td>{{ ii.team_stat.l_ruy|floatformat:1 }}</td>
        <td>{{ ii.team_stat.h_ruy|floatformat:1 }}</td>
        <td>{{ ii.team_stat.a_ruy|floatformat:1 }}</td>
        <td class="{% if ii.inj != '-' %}text-danger{% endif %}">{{ ii.inj }}</td>
        <td><i class="far fa-thumbs-up fav {{ ii.uid|liked:request.session }}" data-uid="{{ ii.uid }}"></i></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
