{% load extra %}
<table class="table table-hover table-responsive-md">
<thead>
  <tr class="_r883kj3t">
    <th colspan="12"></th>
    <th colspan="4" style="border-right: 1px solid #64b7e7; padding: 5px !important;">Opponent Team Stats</th>
  </tr>
  <tr style="border-top: 1px solid #64b7e7">
    <th colspan="3">Player</th>
    <th title="Player’s Team">&nbsp;TM</th>
    <th title="Player is Home or Away">H/A</th>
    <th title="Team that the player is competing against">&nbsp;&nbsp;VS</th>
    <th title="Fantasy Salary selected from Salary Drop down menu">Salary</th>
    <th title="Overall Average Fantasy Points">AFP</th>
    <th title="Player’s value determined from Salary Drop down menu (Salary / 1,000 X 4 + 10 = VAL)">VAL</th>
    <th title="Player Positional Rank. The rank of that player at his position based upon that player’s Situation Fantasy Points.">PPR</th>
    <th title="Ranking of the opponent’s defensive FPTs yielded to that player’s position. Higher the #, the better the matchup.">&nbsp;&nbsp;OPR</th>
    <th title="Receiving Yards Player Averages Per Game (Overall)">RYOA/G</th>
    <th title="Receiving Yards Team Defense Allows Per Game (Overall)">RYDA/G</th>
    <th title="Receiving Yards Offense gained in Most Recent Game (Last Game Team Played)">LSTGM</th>
    <th title="Receiving Yards Averaged in Home Games (Total)">HGMs</th>
    <th title="Receiving Yards Averaged in Away Games (Total)">AGMs</th>
    <th title="Injury status. Players that are out will not be listed on the Player Match-Up Board unless they were originally GTD then downgraded to OUT.">INJ</th>
    <th></th>
  </tr>
</thead>
  <tbody>
    {% for ii in players %}
      <tr>
        <td colspan="3">
            <a href="/players/{{ ii.id }}" style="font-size: 14px;">
                {% if ii.eid != -1 %}
                  <img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/{{ ii.eid }}.png" height="24" class="avatar-sm">
                {% else %}
                  <img src="/static/img/default.ico" height="24" class="mr-2">
                {% endif %}
                {{ ii.name }}
            </a>
        </td>
        <td>{{ ii.team }}</td>
        <td>{{ ii.loc }}</td>
        <td>{{ ii.vs }}</td>
        <td>$ {{ ii.salary|floatformat:0 }}</td>
        <td>{{ ii.afp|floatformat:1 }}</td>
        <td>{{ ii.val|floatformat:1 }}</td>
        <td>{{ ii.ppr }}</td>
        <td class="text-center" style="color: #ffff00; font-weight: 700; background: {{ ii.TE_color }};">
            {{ ii.TE_rank }}
        </td>
        <td>{{ ii.yoa|floatformat:1 }}</td>
        <td>{{ ii.rcyda|floatformat:1 }}</td>
        <td>{{ ii.l_rcy|floatformat:1 }}</td>
        <td>{{ ii.h_rcy|floatformat:1 }}</td>
        <td>{{ ii.a_rcy|floatformat:1 }}</td>
        <td class="{% if ii.inj != '-' %}text-danger{% endif %}">{{ ii.inj }}</td>
        <td><i class="far fa-thumbs-up fav {{ ii.uid|liked:request.session }}" data-uid="{{ ii.uid }}"></i></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
